body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/142/615/original/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg?1725823555");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "SUSE", sans-serif;
  margin: 0;
  height: 100vh;
}

.container {
  background: #feffdf;
  width: 800px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  position: fixed;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}
main {
  padding: 0px 0px 50px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
}

.input-search {
  background-color: #feffdf;
  border: 1px #52406d solid;
  color: #333333;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 1px;
}

.button-search {
  margin-left: 5px;
  font-size: 16px;
  background-color: #52406d;
  color: white;
  border: none;
  padding: 22px;
  line-height: 1;
  border-radius: 1px;
}

.current-weather {
  flex: 1;
  margin-right: 20px;
  border-right: 1px solid #d1d1d1;
}

.current-city {
  font-size: 39px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #bea0ba;
}

.current-weather h1 strong {
  color: #52406d;
}

.current-temperature {
  font-size: 68px;
}

.current-temperature-emoji {
  position: relative;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -39px;
}

.weekly-forecast {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.weekly-forecast-title {
  text-align: center;
  grid-column: span 3;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #52406d;
}

.weekly-forecast-day {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 120px;
  color: #bea0ba;
}

.weekly-forecast-icon {
  width: 88px;
  height: 88px;
}

.weekly-forecast-temperatures {
  text-align: center;
  color: #333333;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weekly-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}

a {
  color: #bea0ba;
}

.current-details {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #bea0ba;
}

.current-weather h1 strong {
  color: #52406d;
}

.current-temperature {
  font-size: 68px;
}
